*.class
.lock
.DS_Store
*.iml
*.ipr
*.iws
.idea
.gradle
local.properties
.navigation
build/
captures/
.externalNativeBuild
.cxx
*.jks
*.keystore
*.pk8
*.p12
google-services.json
jdbc-drivers/
dagger-spy/
.attach_pid*

keys/
